@model IEnumerable<SPARSHBUILDCON.Models.Installment>
@using SPARSHBUILDCON.Models;
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title = "RenewalReceipt";
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Renewal Receipt List</a></li>

            </ol>

        </div>
        <div class="row">
            <div class="col-12 card">
                <div class="card-header">
                    <h3 class="card-title">Renewal Receipt List</h3>
                </div>
                <div class="card">
                    <table border="1" style="margin-left: 1%; margin-right: 1px; margin-bottom: 30px; width: 98%;">


                        @foreach (var item in Model)
                        {
                            if (a == 0)
                            {
                            
                            
                            <tr style="font-size: 13px; color: #2192d6; font-weight: 100">
                                <th colspan="6"><b>&nbsp;Renewal List</b></th>
                                <th colspan="4"><b>&nbsp; @Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</b></th>
                            </tr>
                            
                            
                            <tr>
                                <th style="width: 5%; text-align: center;">
                                    <label><b>S.N.</b></label>
                                </th>
                                <th style="width: 10%; text-align: center;">
                                    <label><b>Account Code</b></label>
                                </th>

                                <th style="width: 15%; text-align: center;">
                                    <label><b>Receipt No.</b></label>
                                </th>

                                <th style="width: 10%; text-align: center;">
                                    <label><b>Date</b></label>
                                </th>

                                <th style="width: 10%; text-align: center;">
                                    <label><b>Amount</b></label>
                                </th>


                                <th style="width: 10%; text-align: center;">
                                    <label><b>Install. No.</b></label>
                                </th>

                                <th style="width: 5%; text-align: center;">
                                    <label><b>Year </b></label>
                                </th>

                                <th style="width: 10%; text-align: center;">
                                    <label><b>@mr.planname</b></label>
                                </th>

                                <th style="width: 5%; text-align: center;">
                                    <label><b>Mode</b></label>
                                </th>

                                <th style="width: 5%; text-align: center;">
                                    <label><b>Term</b></label>
                                </th>

                            </tr>
                        }
                        a = a + 1;


                            <tr style="text-align: center;">
                                <td>
                                    @a
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account_Code)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.rcptno)
                                </td>

                                <td>
                                    @Convert.ToDateTime(item.paymentdate).ToString("dd/MM/yyyy")
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.installno)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.year)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Planname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Term)
                                </td>

                            </tr>
                   
                    }





                    </table>
               </div>

            </div>
        </div>
    </div>
</div>









