@model IEnumerable<SPARSHBUILDCON.Models.Logindetail>
@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "BranchlLoginDetail";
    var a = 0;
    
}

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#iid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteBrachcode",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.BranchName, value: item.BranchCode };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>


<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">@mr.branchname Login Detail</h4>
        </div>
        <div class="row card">
            <div class="card-body" style="width: 98%">
                @using (Html.BeginForm())
                {         
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="form-label">Enter @mr.branchname Code</label>
                                <div class="input-group">
                                    <input type="text" id="iid" name="iid" class="form-control">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
                                    </span>
                                </div>
                            </div>


                        </div>

                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table  class="table table-striped table-bordered" style="width: 100%">
                                  @using (Html.BeginForm())
            {
                foreach (var item in Model)
                {
                    if (a == 0)
                    {
                <tr>
                    <th colspan="4" style="text-align: center;"><b>@mr.branchname Login Detail </b></th>
                    <th style="text-align: center;"><b>
                        <input type="hidden" value="@item.userid" id="id" name="id"></b></th>

                </tr>
         
                <tr>
                    <th style="width: 10%; text-align: center;">
                        <label id="sn"><b>S.N.</b></label>
                    </th>
                    <th style="width: 30%; text-align: center;">
                        <label id="cc"><b>@mr.branchname Code</b></label>
                    </th>
                    <th style="width: 30%; text-align: center;">
                        <label id="pp"><b>Password</b></label>
                    </th>

                    <th style="width: 30%; text-align: center;">
                        <label id="intime"><b>Login Time</b></label>
                    </th>
                    <th style="width: 30%; text-align: center;">
                        <label id="dd"><b>Logout Time</b></label>
                    </th>


                </tr>
                    }
                    a = a + 1;


                <tr style="text-align: center;">

                    <td>
                        @a
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.userid)
                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>

                        @Convert.ToDateTime(item.intime).ToString("dd/MM/yyy:HH:mm:ss")
                    </td>
                    <td>

                        @Convert.ToDateTime(item.outtime).ToString("dd/MM/yyy:HH:mm:ss")
                    </td>



                </tr>
                   
                }

            }



        </table>
        @if (a > 0)
        {
            <a href="@Url.Action("PrintBranchlLoginDetail")" target="_blank">Get Report In PDF</a>
        }
                           
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>
































