@model SPARSHBUILDCON.Models.BlockTab
@using SPARSHBUILDCON.Models;
@{
    UsersContext db=new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "CreateBlock";
    
    //for accessing all cityname
    var allplan = db.Plans.Where(d => d.status == 1).ToList();
    
}

<script type="text/javascript">
    function selectphase(bid) {

        var phaseid = $("#phaseid");
        var projectid = $("#" + bid).val();

        var url = '@Url.Action("selectphase", "Branch")';
        if (projectid > 0) {
            $.get(url, { projectid: projectid }, function data(t) {

                phaseid.html('');
                phaseid.append('<option value="">Select</option>');
                for (var i = 0; i < t.length; i++) {
                    phaseid.append('<option value="' + t[i].Id + '">' + t[i].Phase + '</option>');
                }                
            });
        } 

    }
</script>
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Create Block</h4>
         
            
        </div>
          @using (Html.BeginForm())
                  {
        <div class="row">
            <div class="col-12 card">
                 <div class="card-header">
                        <h3 class="card-title">Create Block</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                           
                             <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="form-label">Enter @mr.planname Name</label>
                                    <select class="form-control" name="Plancode" id="Plancode" onchange="selectphase(this.id)" required >
                                            <option value="">Select</option>
                                            @foreach(var i in allplan)
                                            {
                                            <option value="@i.Plancode">@i.Planname</option>
                                            }
                                        </select>
                                </div>

                                </div>
                             <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="form-label"> Phase </label>
                                    <select class="form-control" id="phaseid" name="phaseid"  required>
                                               <option value="">Select </option>

                                           </select>
                                </div>

                                </div>
                                      <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="form-label"> Enter Block Name </label>
                                      <input type="text" class="form-control" name="block" id="block" required />
                                </div>

                                </div>   
                                  <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="form-label"> Enter Min Value </label>
                                        <input type="text" class="form-control" name="min" id="min" required />
                                </div>

                                </div> 
                                     <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="form-label"> Enter Max Value </label>
                                       <input type="text" class="form-control" name="max" id="max" required />
                                </div>

                                </div>          
                            	<div class="card-footer text-right">
										<div class="d-flex">
							           <button type="submit" class="btn btn-primary pull-right">Create Block</button>
                                </div>
                            </div>
         
                            <p style="color: maroon;"><b>@ViewBag.msg</b></p>
                    
                       
                    </div>
                        </div>
            
                
            </div>
        </div>
                  }
    </div>

     </div>










