@model IEnumerable<SPARSHBUILDCON.Models.Installmenttab>
@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DeleteReciept";
    var a = 0;
}
<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Cancel Receipt</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Cancel Receipt</h3>
                        <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">@mr.custname Id or Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="newbondid" id="BondId">
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary" id="search"><i class="fa fa-search"></i>Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width: 100%" id="rd">
                                @foreach (var item in Model)
                                {
                                    if (a == 0)
                                    {
                                    <tr>
                                        <th colspan="11" style="text-align: center; font-size: large; height: 50px;"><b>Renewal-List </b>

                                        </th>


                                    </tr>
    
                   

                                    <tr style="font-size: medium; height: 40px;">
                                        <th style="width: 10%; text-align: center;">
                                            <label id="ii"><b>Install</b></label>
                                        </th>
                                        <th style="width: 10%; text-align: center;">
                                            <label id="cc"><b>@mr.custname Id</b></label>
                                        </th>
                                        <th style="width: 10%; text-align: center;">
                                            <label id="sn"><b>Amount</b></label>
                                        </th>
                                        <th style="width: 10%; text-align: center;">
                                            <label id="pp "><b>@mr.planname Name</b></label>
                                        </th>
                                        <th style="width: 10%; text-align: center;">
                                            <label id="gg"><b>Receipt No</b></label>
                                        </th>
                                        <th style="width: 5%; text-align: center;">
                                            <label id="kk"><b>Year</b></label>
                                        </th>
                                        <th style="width: 5%; text-align: center;">
                                            <label id="mm"><b>Mode</b></label>
                                        </th>
                                        <th style="width: 10%; text-align: center;">
                                            <label id="vv "><b>Payment Date</b></label>
                                        </th>

                                        <th style="width: 10%; text-align: center;">
                                            <label id="ccc"><b>Expiry Date</b></label>
                                        </th>

                                        <th style="width: 10%; text-align: center;">
                                            <label id="zz"><b>@mr.branchname Code</b></label>
                                        </th>

                                        <th style="width: 10%; text-align: center;">
                                            <label id="action"><b>Action</b></label>
                                        </th>



                                    </tr>
                                    }
                                    a = a + 1;
                                    <tr style="text-align: center;">

                                        <td>
                                            @Html.DisplayFor(modelItem => item.installmentno)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.newbondid)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.planname)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.receiptno)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.mode)
                                        </td>

                                        <td>
                                            @Convert.ToDateTime(item.paymentdate).ToString("dd/MM/yyyy")
                                        </td>

                                        <td>
                                            @Convert.ToDateTime(item.expirydate).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.branch)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Cancel", "DeleteReciept", new { newbondid = item.newbondid, receiptno = item.receiptno }, new { onclick = "return confirm('Are you sure to Cancel this Receipt?');" })
                                        </td>

                                    </tr>
                                }



                            </table>


                            <h4>@ViewBag.msg</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>







































