@model IEnumerable<SPARSHBUILDCON.Models.DuplicateTab>
@using SPARSHBUILDCON.Models
@{
    ViewBag.Title = "DuplicatePrintReportBranch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var a = 0;

    UsersContext db = new UsersContext();
    var mr = db.Members.Single(c => c.Id == 1);
    
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#branch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteBrachcode",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.BranchName, value: item.BranchCode };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<div class="my-3 my-md-5">
    <div class="container" id="divid">
        <div class="page-header">
            <h4 class="page-title">Duplicate Print List</h4>
           
        </div>
        <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Duplicate Print List</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="row" id="hide">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">@mr.branchname Name Or Code</label>
                                <input type="text" id="branch"  class="form-control" required name="branch">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Select Start Date</label>
                                <input type="text" id="sdate" class="form-control datepicker" required name="sdate">
                                </div>
                            </div>
                             <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Select End Date</label>
                               <input type="text" id="edate" class="form-control datepicker" required name="edate">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Type</label>
                              <select name="type" class="form-control" required>
                       <option>--Select--</option>
                       <option value="Bond">@mr.custname</option>
                       <option value="Receipt">Renewal</option>
                       <option value="Voucher">Voucher</option>
                   </select>
                                </div>
                            </div>
                            <div class="card-footer text-right">
										<div class="d-flex">
										   <button class="btn btn-primary"><i class="fa fa-cog"></i>Search</button>
										</div>
									</div>

                        </div>
                    }
                <div style="display:none">&nbsp;<b>@ViewData["Type"]</b></div>     
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="width: 100%" id="1">
                            
    @foreach(var item in Model){
        if(a==0)
        {
  <tr>
         <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
      @if (ViewData["Type"].ToString() == "Voucher")
      {
        <th style="width:20%;text-align:center;">
           <label><b>@mr.agentname Id</b></label>
            </th>
      }
      @if (ViewData["Type"].ToString() == "Bond" || ViewData["Type"] == "Receipt")
      {
         <th style="width:20%;text-align:center;">
           <label><b>@mr.custname Id</b></label>
            </th>
      
      }

       <th style="width:20%;text-align:center;">
           <label ><b>Amount</b></label>
            </th>
        
        <th style="width:20%;text-align:center;">
           <label id="introducerid"><b>Payment No.</b></label>
        </th>

       
            <th style="width:20%;text-align:center;">
           <label ><b>Branch</b></label>
        </th>
       
         <th style="width:20%;text-align:center;">
        <label id="email"><b>Date</b></label>
        </th>

        
    </tr>
        }

        a = a + 1;
    <tr style="text-align:center;">
        <td>
            @a
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newbondid)
        </td>

          <td>
            @Html.DisplayFor(modelItem => item.payamount)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.paymentno)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.opid)
        </td>
        
        <td>
             @Convert.ToDateTime(item.date).ToString("dd/MM/yyyy")
            
        </td>
         
       
             
    </tr>
    } 

     @if(a>0)
    {
     <tr>
            <td colspan="6">
                  <a href="@Url.Action("PrintDuplicateBranchReport")" target="_blank">Get Report In PDF</a>

            </td>

        </tr> 
    }


            </table>
      

                      
                    </div>
               
                </div>

            </div>
        </div>
    </div>
</div>


























