@model IEnumerable<SPARSHBUILDCON.Models.DupliReceipt>
@using  SPARSHBUILDCON.Models;
@{
   Layout = "~/Views/Shared/_AdminLayout.cshtml";
   ViewBag.Title = "DuplicateReceipt";

    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
        
}
<link rel="stylesheet" href="~/Content/jquery-ui.css" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#BondId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Print Duplicate Receipt</h4>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-12 card">


                    <div class="card-header">
                        <h3 class="card-title">Print Duplicate Receipt</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" value="@System.DateTime.Now.Date" name="date" />
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">@mr.custname Id or Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="newbondid" id="BondId">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-primary" id="search"><i class="fa fa-search"></i>Search</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="rd" style="width: 100%">
                                @foreach (var item in Model)
                                {
                                    if (a == 0)
                                    {
                                    <tr>
                                        <th colspan="6" style="text-align: center; font-size: large; height: 50px;"><b>Renewal-List </b>

                                        </th>


                                    </tr>
    
                   

                                    <tr style="font-size: medium; height: 40px;">

                                        <th style="width: 25%; text-align: center;">
                                            <label id="cc"><b>@mr.custname Id</b></label>
                                        </th>
                                        <th style="width: 25%; text-align: center;">
                                            <label id="sn"><b>Payment_No</b></label>
                                        </th>
                                        <th style="width: 25%; text-align: center;">
                                            <label id="pp "><b>PayAmount</b></label>
                                        </th>

                                        <th style="width: 25%; text-align: center;">
                                            <label id="action"><b>Action</b></label>
                                        </th>



                                    </tr>
        }
        a = a + 1;
                                    <tr style="text-align: center;">

                                        <td>
                                            @Html.DisplayFor(modelItem => item.newbondid)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.paymentno)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.payamount)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Get Receipt In PDF", "DuplicateReceipt", new { newbondid = item.newbondid, paymentno = item.paymentno, payamount = item.payamount }, new { onclick = "return confirm('Are you sure to Print this Receipt?'), target='_blank'" })
                                        </td>

                                    </tr>
                                }



                            </table>


                            <h4>@ViewBag.msg</h4>
                        </div>
                    </div>

                </div>
            </div>
}
    </div>
</div>





















