@model IEnumerable<SPARSHBUILDCON.Models.appltab>
@using SPARSHBUILDCON.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "UpdateBond";

    var a = 0;
    var branch = string.Empty;
    UsersContext db = new UsersContext();
    var plist = db.Plans.Where(p => p.status == 1).ToList();   
    var tr = db.TDSLF_tabs.Single(f => f.Id == 1);

    var mr = db.Members.Single(m => m.Id == 1);
    var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
    var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
    var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
    var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
}

<link href="~/Content/datepicker/jquery.datepick.css" rel="stylesheet" />
<script src="~/Content/datepicker/jquery.plugin.js"></script>
<script src="~/Content/datepicker/jquery.datepick.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#newbond").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteBondId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.newbondid };


                        }))

                    }
                })
            }
        });
    })
</script>

<script>
    ///////Select Term Start Here
    function selectterm(plan_id) {
        debugger;
        var term = $("#term");
        var cpplan = $("#" + plan_id).val();

        var url = '@Url.Action("selectterm", "Branch")';
        if (cpplan != '') {
            $.get(url, { cpplan: cpplan }, function data(t) {

                term.html('');
                term.append('<option value="">Select</option>');
                for (var i = 0; i < t.length; i++) {
                    term.append('<option value="' + t[i].term + '">' + t[i].term + '</option>');

                }
                term.removeAttr('disabled');

            });
        } else {
            term.attr('disabled', '');
        }
        //$('[name="PYN"').click();

        //reset here
        $('#payment,#totalcon,#bookingamount,#plccost').val(0)//.click();
        $('#amountinword').val('Zero Rupees Only');
        $('#blk,#plotno').empty();
        $('#radio2').prop('checked', true).click();
        $('#mode').val('');
        $('#nolandunit,#term').val(0);
    }
</script>

<script>

    ///Selecting Project Name Start here ////
    function selectproject(p_type) {
        debugger;
        var PlanName = $("#PlanName");
        var ptype = $("#" + p_type).val();
        PlanName.children().remove();
        var url = '@Url.Action("selectproject", "Branch")';

        $.get(url, { ptype: ptype }, function data(t) {

            PlanName.html('');
            debugger;
            PlanName.append('<option value="">Select</option>');
            for (var i = 0; i < t.length; i++) {
                PlanName.append('<option value="' + t[i].Plancode + '">' + t[i].Planname + '</option>');

            }
            //term.removeAttr('disabled');
        });
    }
</script>

<script>
    ///Selecting PlotSize According to Project type Start here ////
    function selectplotsize(p_type) {
        debugger;
        var nolandunit = $("#nolandunit");
        var unitno = $("#" + p_type).val();
        nolandunit.children().remove();

        var plotsize = 50;
        nolandunit.html('');
        debugger;
        nolandunit.append('<option value="0">Select</option>');
        while (plotsize <= 2000) {
            nolandunit.append('<option value="' + plotsize + '">' + plotsize + '</option>');
            plotsize = plotsize + 10;
        }
    }
</script>

<script>
    $(document).ready(function () {
        {
            $('#dob ,#formdate ,#pdate').datepick({ dateFormat: 'mm/dd/yyyy', changeYear: true, changeMonth: true });

            $("#plot").addClass("hide");
            $("#blok").addClass("hide");
            $("#phasediv").addClass("hide");

        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#chk').change(function () {

            var adr = $("#addr").val();
            if (this.checked == true) {
                $("#guraddr").val(adr);
            }
            else if (this.checked == false) {
                $("#guraddr").val('');
            }
        });
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#memberid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompletememberid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.MemberName, value: item.NewMemberId };

                        }))

                    }
                })
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#IntroducerCode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteAgentId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };


                        }))

                    }
                })
            }
        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nomrel").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteRelations",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.relations, value: item.relations };


                        }))

                    }
                })
            }
        });


    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#gurrel").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteRelations",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.relations, value: item.relations };


                        }))

                    }
                })
            }
        });


    })
</script>

<script>
    function checkid(check_id) {

        var intro = $("#" + check_id).val();
        var url = '@Url.Action("SelectIntroName", "Branch")';
        $.get(url, { intro: intro }, function data(name1) {
            $('#introducername').val(name1)
        });


    }
</script>

<script type="text/javascript">
    function check(check_id) {

        $("#" + check_id).click(function () {
            $('.plantype').prop('checked', false);
        });

    }
    ///Selecting Plan Name Start here ////
    function rply_click(clicked_id) {

        var fno = $("#" + clicked_id).val();


        var url = '@Url.Action("SelectPlan", "Branch")';
        $.get(url, { fno: fno }, function data(d) {
            var select = $("#PlanName");

            select.children().remove();
            select.append('<option value="Select">Select</option>');
            for (var i = 0; i < d.length; i++) {
                select.append('<option value="' + d[i].Plancode + '">' + d[i].Planname + '</option>');
            }
        });

    }

    ///Selecting Plan Mode Start here ////

    $(function () {

        ///Selecting Payment Start here ////
        $('#mode').on('click', function selectpayment() {
            var ptype = $('#paymenttype').val();
            debugger;
            if (ptype == 'EMI') {

                var mode = $("#mode").val();
                var term = $("#term").val();
                var bookingamount = $("#bookingamount").val();
                var discountper = $("#discountper").val();
                var projectid = $("#PlanName").val();
                var plotsize = $("#nolandunit").val();
                var plccost = $("#plccost").val();
                var Devcharge = $("#Devcharge").val();

                var url = '@Url.Action("selectpayment", "Branch")';
                $.get(url, { term: term, bookingamount: bookingamount, discountper: discountper, projectid: projectid, plotsize: plotsize, mode: mode, plccost: plccost, Devcharge: Devcharge }, function data(t) {
                    for (var i = 0; i < t.length; i++) {

                        $("#totalcon").val(t[i].totalcon);
                        $("#maturityamt").val(t[i].maturityamount);
                        $("#payment").val(t[i].payment);
                        $("#amountinword").val(t[i].amountinwords);
                    }
                });
            } else {
                debugger
                //var fv1 = $('#fullAmount').val(), plc1 = $('#plccost').val(), discountper1 = $('#discountper').val();
                //fv1 = parseFloat(fv1); discountper1 = parseFloat(discountper1); plc1 = parseFloat(plc1);
                //var tv1 = fv1 - (fv1 * (discountper1 / 100)) + (fv1 * (plc1 / 100));
                //$('#totalcon').val(tv1);

                var v1 = '';
                if (ptype == 'FULL') { v1 = $("#fullAmount").val(); } else { v1 = $("#bookingamount").val(); }
                //amount in word

                if (v1 > 0) {

                    var returnamount = parseFloat(0);
                    var projectid = $("#PlanName").val();
                    if (projectid == 4) {

                        $("#totalcon").val(v1);

                        if (v1 >= 5000 && v1 < 100000) {
                            var mlyamount = parseFloat(v1) * (5.5 / 100);
                            returnamount = Math.round(mlyamount - (mlyamount * 0.1));
                        }
                        else if (v1 >= 100000 && v1 < 300000) {
                            var mlyamount = parseFloat(v1) * (6 / 100);
                            returnamount = Math.round(mlyamount - (mlyamount * 0.1));
                        }
                        else if (v1 >= 300000 && v1 < 1500000) {
                            var mlyamount = parseFloat(v1) * (7 / 100);
                            returnamount = Math.round(mlyamount - (mlyamount * 0.1));
                        }
                        else if (v1 >= 1500000) {
                            var mlyamount = parseFloat(v1) * (8 / 100);
                            returnamount = Math.round(mlyamount - (mlyamount * 0.1));
                        }

                        $("#payment").val(returnamount);
                    }

                    var url = '@Url.Action("SetAmountinword", "Branch")';
                    $.get(url, { payment: v1 }, function data(t) {
                        for (var i = 0; i < t.length; i++) {
                            $("#amountinword").val(t[i].amountword);
                        }
                    });

                }
            }
        });

    });


    $(function () {
        $('#fullAmount').on('click', function () {

            v1 = $("#fullAmount").val();
            if (v1 >= 5000) {
                $("#totalcon").val(v1);
            }
            else {
                return alert('Please enter greater than or equal to 5000 ');
            }
        });
    });

    $(function () {
        //discount
        ///checkig validity of amount Start here ////
        $('#discountper').on('click',
        function checkplan() {
            var c3 = $('#discountper'), ptype = $('#paymenttype').val();
            var discountper1 = c3.val();
            if (ptype == 'EMI') {
                var term = $("#term").val();
                var projectid = $("#PlanName").val();
                var plotsize = $("#nolandunit").val();
                var plccost = $("#plccost").val();

                var url = '@Url.Action("checkplan", "Branch")';
                $.get(url, { projectid: projectid, plotsize: plotsize, term: term, discountper: discountper1, plccost: plccost }, function data(t) {
                    for (var i = 0; i < t.length; i++) {

                        $("#totalcon").val(t[i].totalcon)//.attr('data-v', t[i].totalcon);
                        $("#maturityamt").val(t[i].maturityamount);
                    }
                });
            }
            else {
                //var fv1 = $('#fullAmount').val(), plc1 = $('#plccost').val();
                //fv1 = parseFloat(fv1); discountper1 = parseFloat(discountper1); plc1 = parseFloat(plc1);
                //var tv1 = fv1 - (fv1 * (discountper1 / 100)) + (fv1 * (plc1 / 100));
                //$('#totalcon').val(tv1);                
            }
        });
    });

</script>

<script type="text/javascript">
    $(function () {

        //get block

        $('[name="PYN"]').on('click', function () {

            var c1 = $('[name="PYN"]:checked'), cv = c1.val();
            if (c1.is(':checked') && cv != "N") {
                debugger;
                $("#plot").removeClass("hide");
                $("#blok").removeClass("hide");
                $("#phasediv").removeClass("hide");

            }
            else if (c1.is(':checked') && cv == "N") {

                $("#plot").addClass("hide");
                $("#blok").addClass("hide");
                $("#phasediv").addClass("hide");

                var block = $('#blk').html('');
                block.children().remove();
                block.append('<option value="NA">Select</option>');

                var plot = $('#plotno').html('');
                plot.children().remove();
                plot.append('<option value="0">Select</option>');
            }

        });
    });

    function getblock(clicked_id) {

        var c = $('[name="PYN"]:checked'), cv = c.val();
        var plotstatus = cv;
        var projectid = $("#PlanName").val();
        var phaseid = $("#phaseid").val();
        var url = '@Url.Action("GetBlockList", "Branch")';
        $.get(url, { plotstatus: cv, projectid: projectid, phaseid: phaseid }, function data(d) {
            debugger;
            var block = $('#blk').html('');
            block.children().remove();
            block.append('<option value="NA">Select</option>');
            for (var i = 0; i < d.length; i++) {
                debugger;
                block.append('<option value="' + d[i].block + '">' + d[i].block + '</option>');
            }
        });
    }

    function getplot(clicked_id) {
        $("#plot").removeClass("hide");
        var block = $("#" + clicked_id).val();
        var phaseid = $("#phaseid").val();
        var projectid = $("#PlanName").val();
        var introid = $("#IntroducerCode").val();
        var url = '@Url.Action("GetPlotList", "Branch")';
        $.get(url, { block: block, projectid: projectid, introid: introid, phaseid: phaseid }, function data(d) {
            var select = $('#plotno').html('');
            select.children().remove();
            select.append('<option value="0">Select</option>');
            for (var i = 0; i < d.length; i++) {
                select.append('<option value="' + d[i].plotno + '">' + d[i].plotno + '</option>');
            }

        });
    }

</script>

<script>
    function detail(chkid) {
        var chk = $("#" + chkid).val();
        if (chk == "Cheque") {
            $("#detail").show();
            $("#dd").hide();
            $("#trdetail").hide();
        }
        else if (chk == "DD") {
            $("#dd").show();
            $("#detail").hide();
            $("#trdetail").hide();
        }
        else if (chk == "banktransaction") {
            $("#dd").hide();
            $("#detail").hide();
            $("#trdetail").show();
        }
        else {
            $("#detail").hide();
            $("#dd").hide();
            $("#trdetail").hide();
        }
    }
</script>

<script type="text/javascript">

    function selectphase(bid) {
        debugger
        var phaseid = $("#phaseid");
        var ptype = $("#paymenttype").val();
        var projectid = $("#PlanName").val();
        if (projectid == 4) {
            if (ptype = 'FULL') {
                $('#paymentDiv').slideDown();
                $('#plotsizeDiv').slideUp();
                $('#nolandunit').val(0);
                $('#fullAmount').slideDown().val(0);
                $('#fullAmount').removeAttr('readonly');
                $('#bookingamountDiv label.form-label').text('Full Amount(Rs.)');
                $('#paymentDiv label.form-label').text('Monthly Return Amount(Rs.)');
                $('#plotcostDiv label.form-label').text('Investment Amount(Rs.)');
            }
        }
        else {
            if (ptype != 'EMI') {
                $('#paymentDiv').slideUp();
            }
            else {
                $('#paymentDiv').slideDown();
            }
            $('#plotsizeDiv').slideDown();
            $('#nolandunit').val(0);
            $('#bookingamountDiv label.form-label').text('Booking Amount(Rs.)');
            $('#paymentDiv label.form-label').text('EMI Amount(Rs.)');
            $('#plotcostDiv label.form-label').text('Plot Cost(Rs.)');

            var url = '@Url.Action("selectphase", "Branch")';
            if (projectid > 0) {
                $.get(url, { projectid: projectid }, function data(t) {

                    phaseid.html('');
                    phaseid.append('<option value="0">Select</option>');
                    for (var i = 0; i < t.length; i++) {
                        phaseid.append('<option value="' + t[i].Id + '">' + t[i].Phase + '</option>');
                    }
                });
            }
        }
    }

</script>

<script type="text/javascript">

    //----------------------------------------------
    function getblock(clicked_id) {

        var c = $('[name="PYN"]:checked'), cv = c.val();
        var plotstatus = cv;
        var projectid = $("#PlanName").val();
        var phaseid = $("#phaseid").val();
        var url = '@Url.Action("GetBlockList", "Branch")';
        $.get(url, { plotstatus: cv, projectid: projectid, phaseid: phaseid }, function data(d) {
            debugger;
            var block = $('#blk').html('');
            block.children().remove();
            block.append('<option value="NA">Select</option>');
            for (var i = 0; i < d.length; i++) {
                debugger;
                block.append('<option value="' + d[i].block + '">' + d[i].block + '</option>');
            }
        });
    }

    function getplot(clicked_id) {
        $("#plot").removeClass("hide");
        var block = $("#" + clicked_id).val();
        var phaseid = $("#phaseid").val();
        var projectid = $("#PlanName").val();
        var introid = $("#IntroducerCode").val();
        var url = '@Url.Action("GetPlotList", "Branch")';
        $.get(url, { block: block, projectid: projectid, introid: introid, phaseid: phaseid }, function data(d) {
            var select = $('#plotno').html('');
            select.children().remove();
            select.append('<option value="0">Select</option>');
            for (var i = 0; i < d.length; i++) {
                select.append('<option value="' + d[i].plotno + '">' + d[i].plotno + '</option>');
            }

        });
    }

</script>

<script>
    function selecttotolplot() {
        var term = $("#term").val();
        var formdate = $("#formdate").val();
        var projectid = $("#PlanName").val();
        var plotsize = $("#nolandunit").val();
        var plccost = $("#plccost").val();
        var Devcharge = $("#Devcharge").val();
        var discountper = $("#discountper").val();


        if (plotsize > 0) {
            var url = '@Url.Action("selectexpiry", "Branch")';
            $.get(url, { projectid: projectid, plotsize: plotsize, term: term, plccost: plccost, Devcharge: Devcharge, discountper: discountper, formdate: formdate }, function data(t) {
                debugger;
                for (var i = 0; i < t.length; i++) {

                    $("#totalcon").val(t[i].totalcon);
                    $("#fullAmount").val(t[i].totalcon);
                    $("#maturityamt").val(t[i].maturityamount);

                    var date = new Date(parseInt(t[i].expirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var day = ('0' + date.getDate()).slice(-2);
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var parsedDate = (month) + "/" + (day) + "/" + date.getFullYear();
                    $('#expirydate').val(parsedDate);

                }

            });

        }
    }
</script>

<script>
    function getplotnovalue()
    {
        var plotno = $("#plotno").val();
        $("#cplotno").val(plotno);
    }
</script>

<style type="text/css">
    .hide {
        display: none;
    }
</style>

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">@mr.custname Update</h4>
        </div>
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <h3 class="card-title">@mr.custname Update</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Enter @mr.custname Id</label>
                                    <div class="input-group">
                                         <input type="text" class="form-control" name="newbond" id="newbond">
                                        <span class="input-group-append">
                                             <button value="Search" type="submit" name="command" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <p style="color: maroon;"><b>@ViewBag.msg</b></p>  
                            </form>
                    </div>

                </div>
            </div> 
       
                     <form enctype="multipart/form-data" method="post" id="_submit">
                                   @foreach (var item in Model)
                                   {
                                       if (a == 0)
                                       {
                                           var pr = db.Plans.Single(p => p.Plancode == item.projectid);
                     <div class="row">
                             
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Personal Details</div>
                        </div>
                        <div class="card-body">
                                            <div class="form-group">
                                               <label class="form-label">@mr.branchname Code </label> 
                                            <input type="text" id="branchcode" class="form-control" readonly="true" value="@item.branchcode" name="branchcode" required /></div>
                                          
                                          <div class="form-group">
                                           <label class="form-label">Form Fee</label>
                                             <input type="text" class="form-control" id="applicationcharge" required name="applicationcharge" value="@item.applicationcharge" readonly="true"/>
                                                </div>
                                                
                                       
                            <div class="form-group">
                                <label class="form-label">@mr.custname Id </label>
                                <input type="text" class="form-control" readonly="true" value=" @Html.DisplayFor(modelItem => item.newbondid)" id="newbondid" name="newbondid" required />
                            </div>
                                           
                                            <div class="form-group">
       <label class="form-label">Name of Applicant </label>
                                               
     <input type="text" class="form-control"  value=" @Html.DisplayFor(modelItem => item.name)" id="name" name="name" required /></div>
                              <div class="form-group">
													
													<div class="input-group">
														 <input type="text" style="background-color:#eee" readonly="true" value="@Html.DisplayFor(modelItem => item.RelationOf)" class="form-control" required name="RelationOf" id="RelationOf" />
														<span class="input-group-append">
															  <input type="text" value="@Html.DisplayFor(modelItem => item.fathername)" readonly="true" class="form-control" required name="fathername" id="fathername" />
														</span>
													</div>
												</div>
                            
                                       <div class="form-group">
                                            <label class="form-label">Category</label>
                                            <select class="form-control" id="category" name="category">
                                                            <option>@Html.DisplayFor(modelItem => item.fathername)</option>
                                           </select>
                                       </div>
                                 <div class="form-group">
                                     <label class="form-label">Current Income Group</label>
                                     <input type="text" class="form-control" readonly="true" value="@item.incomegroup" />
                                 </div>
                                       <div class="form-group">
                                           <label class="form-label">Income Group</label>
                                          <select class="form-control" id="incomegroup" name="incomegroup">
                                                     <option>@Html.DisplayFor(modelItem => item.incomegroup)</option>
                                               <option value="Lower Income Group">Lower Income Group</option>
                                               <option value="Middle Income Group">Middle Income Group</option>
                                               <option value="Upper Income Group">Upper Income Group</option>                                              
                                           </select>
                                       </div>
                                  
                                            <div class="form-group">
                                               <label class="form-label">Address </label>
                                                 <input type="text" id="addr"   value="@Html.DisplayFor(modelItem => item.addr)" name="addr"  class="form-control" required />
                                            </div>
                                      
                                            <div class="form-group">
                                               <label class="form-label">Mobile No </label>
                                                
                                                <input type="text" id="mobileno" name="mobileno" maxlength="10" value="@Html.DisplayFor(modelItem => item.mobileno)" class="form-control" required/>
                                            </div>
                                     
                                            <div class="form-group">
       <label class="form-label">Introducer Code </label > 
                                         <input type="text" class="form-control"  onchange="checkid(this.id)" value="@Html.DisplayFor(modelItem => item.newintroducerid)" onclick="checkid(this.id)" id="IntroducerCode" name="newintroducerid" required />
                                                <span class="input-group-addon"><label class="width" style="width:15px;"><span class="fa fa-search"></span></label></span>
                                            </div>
                                    
                                            <div class="form-group">
       <label class="form-label">Introducer Name </label>  
                                            <input type="text" class="form-control"/ id="introducername" readonly="true"></div>
                                        
                                            
                                            <div class="form-group">
                                         <label class="form-label">Date of Agreement </label>
                                      <input type="text" class="form-control date" id="formdate" name="formdate" value="@Html.DisplayFor(modelitem => item.formdate)" required >
                                                    </div>
                                      

                                        <div class="form-group">
       <label class="form-label">Date of Birth </label> 
                                         <input type="text" id="dob" readonly="true" value="@Html.DisplayFor(modelItem => item.dob)" name="dob" class="form-control" required/>
                                         </div>
                                        
                                            <div class="form-group">
       <label class="form-label">Nationality </label>  
     <input type="text" id="nationality" name="nationality" readonly="true" class="form-control"  value="Indian"/></div>
                            </div>

                        </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Guardian Details</div>
                        </div>
                        <div class="card-body">
                          <div class="form-group">
                                    <label class="form-label">Guardian Name </label>
                                     <input type="text" id="guardianname" name="guardianname" class="form-control" value="@Html.DisplayFor(modelItem => item.guardianname)"/>
                                 </div>
                         
                                 <div class="form-group">
                                      <label class="form-label">Guardian's Age </label>
                                     <input type="text" id="gurage" name="gurage" class="form-control" value="@Html.DisplayFor(modelItem => item.gurage)"/>
                                 </div>
                          
                                 <div class="form-group">
                                      <label class="form-label">Relationship</label>
                                     <input type="text" class="form-control" id="gurrel" name="gurrel" />
                                 </div>
                            <div class="form-group">
                                      <input id="chk" type="checkbox" name="chk" />&nbsp;Same As Contributor
                                 </div>
                            <div class="form-group">
                                      <label class="form-label">Guardian Address</label>
                                    <textarea id="guraddr" name="guraddr" class="form-control"></textarea>
                                 </div>
                            <div class="form-group">
                                      <label class="form-label">Upload Image</label>
                                    <input class="form-control" id="File1" name="photo" type="file" />
                                 </div>
                            </div>
                                         </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Bank Details</div>
                        </div>
                        <div class="card-body">
                          
                                      <div class="form-group">
                                      <label class="form-label">PAN No </label>
                                    <input type="text" id="panno" name="panno"  value="@Html.DisplayFor(modelItem => item.panno)" class="form-control" />
                                 </div>
                             
                                 <div class="form-group">
                                     <label class="form-label">Bank Name </label>
                                     <input type="text" id="bankname" name="bankname" value="@Html.DisplayFor(modelItem => item.bankname)" class="form-control"/>
                                 </div>
                            
                                 <div class="form-group">
                                     <label class="form-label">Bank A/C No </label>
                                     <input type="text" id="accountno" name="accountno" value="@Html.DisplayFor(modelItem => item.accountno)" class="form-control"/>
                                 </div>
                             
                                 <div class="form-group">
                                    <label class="form-label">IFSC Code </label>
                                     <input type="text" id="IFSC"  value="@Html.DisplayFor(modelItem => item.IFSC)" name="IFSC" class="form-control"/>
                                 </div>
                             
                            </div>
                                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="lsecondform" />Second Applicant Form</label></h2>
                            </div>
                        </div>
                        <div class="card-body" id="secondform" style="display: none;">
                            <div class="form-group">
                                <label class="form-label">Applicant Name </label>
                                <input type="text" name="sapplicantname" value="@item.sapplicantname" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Father's/Husband's Name </label>
                                <input type="text" name="sfathername" value="@item.sfathername" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Mother's Name </label>
                                <input type="text" name="smothername" value="@item.scategory" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Category</label>
                                <select class="form-control" id="scategory" name="scategory">
                                    <option value="@item.scategory" selected>@item.scategory</option>
                                    <option value="General">General</option>
                                    <option value="OBC">OBC</option>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Correspondence Address </label>
                                <input type="text" name="scorraddress" value="@item.scorraddress" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">City</label>
                                <input type="text" name="scity" value="@item.scity" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">State </label>
                                <input type="text" name="sstate" value="@item.sstate" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Pin Code </label>
                                <input type="text" name="spincode" value="@item.spincode" class="form-control" />
                            </div>

                            <div class="form-group">
                                <h3>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="sameasabove">Same As Above</label></h3>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Permanent Address </label>
                                <input type="text" name="spermanentaddress" value="@item.spermanentaddress" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">City</label>
                                <input type="text" name="pcity" value="@item.scity" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">State </label>
                                <input type="text" name="sstate" value="@item.sstate" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Pin Code </label>
                                <input type="text" name="spincode" value="@item.spincode" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Nationality </label>
                                <input type="text" name="snationality" value="@item.snationality" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Educational Qualification</label>
                                <input type="text" name="squalification" value="@item.squalification" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Mobile No </label>
                                <input type="text" name="smobileno" value="@item.smobileno" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Alternate Mobile No </label>
                                <input type="text" name="salternatemobileno" value="@item.salternatemobileno" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Pan No. </label>
                                <input type="text" name="spanno" value="@item.spanno" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Email Id </label>
                                <input type="text" name="semailid" value="@item.semailid" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Date Of Birth </label>
                                <input type="text" name="sdob" value="@item.sdob" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Aadhar No. </label>
                                <input type="text" name="saadharno" value="@item.saadharno" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Martial Status </label>

                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="smaritialstatus" style="margin-top: 5px;" value="UnMarried">UnMarried</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="smaritialstatus" style="margin-top: 5px;" value="Married">Married</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Anniversary Date </label>
                                <input type="text" name="sanniversarydate" value="@item.sanniversarydate" class="form-control"  />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Occupation </label>
                                <input type="text" name="soccupation" value="@item.soccupation" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Passport No. </label>
                                <input type="text" name="spassport" value="@item.spassport" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Residential Status </label>
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="sresidentialstatus" style="margin-top: 5px;" value="Resident">Resident</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="sresidentialstatus" style="margin-top: 5px;" value="Non-Resident">Non-Resident</label>
                                </div>
                            </div>
                            <div class="row-form" id="picset">

                                <div class="col-md-4">
                                    <p>Customer Pic</p>
                                    <img src="/Content/reg/img/u.png" id="imgsphoto" alt="/Content/reg/img/u.png" />
                                    <input type="file" name="sphoto" id="sphoto" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <p>Aadhar Pic</p>
                                    <img src="/Content/reg/img/adhar.jpg" id="imgsaadharphoto" alt="/Content/reg/img/adhar.jpg" />
                                    <input type="file" name="saadharphoto" id="saadharphoto" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <p>Pan Pic</p>
                                    <img src="/Content/reg/img/pan.jpg" id="imgspanphoto" alt="/Content/reg/img/pan.jpg" />
                                    <input type="file" name="spanphoto" id="spanphoto" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                         <div class="col-lg-6">
                             <div class="card">
                                 <div class="card-header">
                                     <div class="card-title">@mr.planname Details</div>
                                 </div>
                                 <div class="card-body">
                                     <div class="form-group">
                                         <label class="form-label">Current Property Type</label>
                                        <input type="text" class="form-control" readonly="true" value="@item.propertytype" />
                                     </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Property Type</label>
                                                          <select class="form-control" id="propertytype" name="propertytype" onchange="selectproject(this.id)" required>
                                                              <option value="@item.propertytype">@item.propertytype </option>
                                                              <option value="Residential">Residential</option>
                                                              <option value="Commercial">Commercial</option>
                                                          </select>
                                                      </div>
                                     <div class="form-group">
                                         <label class="form-label">Current Payment Type</label>
                                         <input type="text" class="form-control" readonly="true" value="@item.paymenttype" />
                                     </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Payment Type </label>
                                                          <select class="form-control" id="paymenttype" name="paymenttype" required>
                                                              <option value="@item.paymenttype" selected>@item.paymenttype</option>
                                                              <option value="EMI" >EMI Payment Plan</option>
                                                              <option value="FULL">FULL Payment Plan</option>
                                                              <option value="PART">PART Payment Plan</option>
                                                          </select>

                                                      </div>

                                                      <div class="form-group">
                                                          <label class="form-label">@mr.planname Name </label>
                                                          <select class="form-control" onchange="selectterm(this.id),selectphase(this.id)" id="PlanName" name="projectid" required>
                                                             
                                                   <option value="@item.projectid">@item.planname </option>
                                              
                                                          </select>
                                                      </div>
                                                      <div class="row-form" id="termDiv">
                                                          <div class="form-group">
                                                              <label class="form-label">Term(Yr.) </label>
                                                              <select class="form-control" id="term" name="term" onchange="setexpiry()" required="">
                                                                  <option value="@item.term" selected>@item.term </option>

                                                              </select>

                                                          </div>

                                                          <div class="form-group">
                                                              <label class="form-label">Assign Plot</label>
                                                              <input type="radio" id="radio" name="PYN" class="PYN" value="Y" />
                                                              Yes   
                                           <input type="radio" id="radio2" name="PYN" class="PYN" value="N" checked>
                                                              No  
                                                          </div>

                                                      </div>
                                     <div class="form-group">
                                         <label class="form-label">Current Plot Size</label>
                                         <input type="text" class="form-control" readonly="true" value="@item.nolandunit" />
                                     </div>
                                                      <div class="form-group" id="plotsizeDiv">
                                                          <label class="form-label">Plot Size(SqYd)</label>
                                                          @*<select class="form-control" id="nolandunit" name="nolandunit" required>
                                           </select>*@
                                                          <input type="text" class="form-control" id="nolandunit" value="@item.nolandunit" name="nolandunit" />
                                                      </div>

                                     <div class="form-group">
                                         <label class="form-label">
                                             Current Phase
                                         </label>
                                         <input type="text" class="form-control" readonly="true" value="@item.phase" />
                                     </div>
                                                      <div id="phasediv" class="row-form">
                                                          <div class="form-group">
                                                              <label class="form-label">Select Phase</label>
                                                              <select class="form-control" id="phaseid" name="phaseid" onchange="getblock(this.id)">
                                                                  <option value="@item.phaseid">@item.phase </option>

                                                              </select>


                                                          </div>
                                                      </div>
                                       <div class="form-group">
                                         <label class="form-label">
                                             Current Block
                                         </label>
                                         <input type="text" class="form-control" readonly="true" value="@item.block" />
                                     </div>
                                                      <div id="blok" class="row-form" style="padding-bottom: 15px;">

                                                          <div class="form-group">
                                                              <label class="form-label">Select Block</label>
                                                              <select class="form-control" id="blk" name="block" onchange="getplot(this.id)">
                                                                  <option value="@item.block" selected>@item.block</option>
                                                              </select>

                                                          </div>


                                                          <div class="form-group">
                                                              <label class="form-label">Property Address</label>
                                                              <textarea name="propertyaddress"  class="form-control" style="resize: vertical;">@item.propertyaddress</textarea>
                                                          </div>

                                                      </div>
                                     <div class="form-group">
                                         <label class="form-label">Current Plot No</label>
                                         <input type="text" class="form-control" id="cplotno" name="plotno" value="@item.plotno" readonly="true" />
                                     </div>
                                                      <div id="plot" class="row-form">

                                                          <div class="form-group">

                                                              <label class="form-label">Select Plot No </label>
                                                              <select class="form-control" id="plotno" name="plotno1" onchange="getplotnovalue()">
                                                                  <option value="@item.plotno" selected>@item.plotno</option>
                                                              </select>

                                                          </div>
                                                      </div>
                                     <div class="form-group">
                                         <label class="form-label">Current Booking Amount</label>
                                         <input type="text" value="@item.bookingamount" class="form-control" readonly="true"/>
                                     </div>
                                                      <div class="row-form" id="bookingamountDiv">

                                                          <div class="form-group">
                                                              <label class="form-label">Booking Amount</label>
                                                              <input id="fullAmount" name="fullAmount" type="text" class="form-control" value="@item.totalcon" required style="display: none;" />
                                                              <input id="bookingamount" name="bookingamount" type="text" class="form-control" value="@item.bookingamount" required="" />
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Discount(%)</label>
                                                          <input type="text" class="form-control" id="discountper" onkeyup="selecttotolplot()" value="@item.discountper" onblur="selecttotolplot()" required name="discountper" value="0" />
                                                      </div>
                                     <div class="form-group">
                                         <label class="form-label">Current Property Preference</label>
                                         <input type="text" class="form-control" value="@item.propertypreference" readonly="true" />
                                     </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Property Preference</label>
                                                          <select name="propertypreference" class="form-control" id="propertypreference" onchange="selecttotolplot()">
                                                              <option value="@item.propertypreference" selected>@item.propertypreference</option>
                                                              <option value="Normal">Normal</option>
                                                              <option value="Corner">Corner</option>
                                                              <option value="Park facing">Park Facing</option>
                                                              <option value="30ft Road">30Ft Road</option>
                                                          </select>
                                                      </div>
                                                      <div class="form-group" id="plccostDiv">
                                                          <label class="form-label">PLC Cost (In %)</label>
                                                          <input type="number" name="plccost" id="plccost" min="0" onkeyup="selecttotolplot()" onblur="selecttotolplot()" class="form-control" value="@item.plccost" />
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Development Charge (per.sqrt)</label>
                                                          <input type="number" name="Devcharge" id="Devcharge" min="0" onkeyup="selecttotolplot()" onblur="selecttotolplot()" class="form-control" value="0" />

                                                      </div>

                                                      <div class="form-group" id="plotcostDiv">
                                                          <label class="form-label">Plot Cost(Rs.) </label>
                                                          <input type="text" class="form-control" id="totalcon" name="totalcon" disabled="" value="@item.totalcon" required data-v="0" />

                                                      </div>

                                                      <div class="form-group">
                                                          <label class="form-label">Payment Mode </label>
                                                          <select class="form-control" id="mode" name="mode" required>
                                                              <option value="@item.mode" selected>@item.mode </option>
                                                              <option value="Monthly">Monthly</option>
                                                             
                                                          </select>
                                                      </div>

                                     <div class="form-group">
                                         <label class="form-label">Current EMI Amount(Rs.)</label>
                                         <input type="text" class="form-control" value="@item.payment" readonly="true" />
                                     </div>
                                                      <div class="row-form" id="paymentDiv">

                                                          <div class="form-group">
                                                              <label class="form-label">EMI Amount(Rs.) </label>
                                                              <input type="text" class="form-control" id="payment" name="payment" readonly="true" required value="@item.payment" />

                                                          </div>
                                                      </div>

                                                      <div class="row hide" id="maturityamtDiv">
                                                          <div class="form-group">
                                                              <label class="form-label">Maturity Amount(Rs.)</label>
                                                              <input type="hidden" class="form-control" id="maturityamt" name="expectedraisablevalue" value="@item.expectedraisablevalue" />

                                                          </div>
                                                      </div>




                                                      <div class="row-form hide" id="expirydateDiv">

                                                          <div class="form-group">
                                                              <label class="form-label">Expiry Date</label>
                                                              <input type="text" class="form-control" id="expirydate" readonly="true" value="@item.expirydate" name="expirydate" />
                                                          </div>

                                                      </div>




                                                  </div>



                             </div>
                             <div class="card">
                                 <div class="card-header">
                                     <div class="card-title">Nominee Details</div>
                                 </div>
                                 <div class="card-body" id="nomineeDiv">




                                     <div class="form-group">

                                         <label class="form-label">Nominee Name</label>
                                         <input type="text" id="nomineename" name="nomineename" value=" @Html.DisplayFor(modelItem => item.nomineename)" class="form-control" />
                                     </div>
                                     <div class="form-group">
                                         <label class="form-label">Nominee Age</label>
                                         <input type="text" id="nomage" name="nomage" value=" @Html.DisplayFor(modelItem => item.nomage)" class="form-control"  />
                                     </div>
                                     <div class="form-group">

                                         <label class="form-label">Relationship</label>
                                         <input type="text" class="form-control" id="nomrel" name="nomrel" value=" @Html.DisplayFor(modelItem => item.nomrel)"  />
                                     </div>
                                     <div class="form-group">

                                         <label class="form-label">Nominee Address </label>
                                         <input type="text" id="nomaddr" name="nomaddr" value=" @Html.DisplayFor(modelItem => item.nomaddr)" class="form-control"  />
                                     </div>
                                 </div>



                             </div>
                             <div class="card">
                                 <div class="card-header">
                                     <div class="card-title">Payment Details</div>
                                 </div>
                                 <div class="card-body">

                                     <div class="form-group">

                                         <label class="form-label">Payment Mode </label>
                                         <input type="radio" id="paymethod" name="paymethod" value="Cash" checked onclick="detail(this.id)">
                                         Cash   
                                             <input type="radio" id="paymethod2" name="paymethod" value="DD" onclick="detail(this.id)">
                                         DD  
                                          <input type="radio" id="paymethod3" name="paymethod" value="Cheque" onclick="detail(this.id)">
                                         Cheque  
                                            <input type="radio" id="paymethod4" name="paymethod" value="banktransaction" onclick="detail(this.id)">
                                         Bank Transaction
                                     </div>
                                     <div class="form-group">
                                         <label class="form-label">Payment Date</label>
                                         <input type="text" id="pdate" name="pdate" class="form-control date" value="@item.pdate" readonly="true" required />
                                     </div>
                                     <div id="dd" style="display: none;">
                                         <div class="form-group">

                                             <label class="form-label">DD No</label>
                                             <input type="text" id="checkorddno" name="checkorddno" value="@item.checkorddno" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Draw No. </label>
                                             <input type="text" id="drawno" name="drawno" value="@item.drawno" class="form-control" />
                                         </div>
                                     </div>
                                     <div id="detail" style="display: none;">
                                         <div class="form-group">

                                             <label class="form-label">Bank Name</label>
                                             <input type="text" id="bank" name="bank" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">A/C No. </label>
                                             <input type="text" id="ACNO" name="Account" value="@item.Account" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Cheque No. </label>
                                             <input type="text" id="chequeno" name="chequeno" value="@item.chequeno" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">A/C Holder Name</label>
                                             <input type="text" id="ACname" name="ACholdername" value="@item.ACholdername" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Branch Name </label>
                                             <input type="text" id="barnch" name="Branch" value="@item.Branch" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">IFSC </label>
                                             <input type="text" id="IFSCcode" name="IFSCCode" value="@item.IFSCCode" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Amount </label>
                                             <input type="text" id="Amount" name="ChequeAmount" value="@item.ChequeAmount" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Cheque Date </label>
                                             <input type="text" id="Date" name="Chequedate" value="@item.Chequedate" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Cheque Image </label>
                                             <input type="file" id="Chequeimage" name="Chequeimage" value="@item.Chequeimage" class="form-control" />
                                         </div>
                                     </div>
                                     <div id="trdetail" style="display: none;">
                                         <div class="form-group">
                                             <label class="form-label">Bank Name</label>
                                             <select id="trbank" name="trbank" class="form-control">
                                                 <option>select</option>
                                                 @foreach (var blist in db.BankDetail_Tabs.ToList())
                                                 {
                                                     <option value="@blist.bankname">@blist.bankname</option>                                          
                                                 }
                                             </select>
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Transaction Id </label>
                                             <input type="text" id="transactionid" name="transactionid" value="@item.transactiontype" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Transaction Date </label>
                                             <input type="date" id="transactiondate" name="transactiondate" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Amount</label>
                                             <input type="text" id="tramount" name="tramount" class="form-control" />
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">Pay Method  </label>
                                             <input type="radio" id="trpmethod1" name="transactiontype" value="NEFT" checked>
                                             NEFT
                                            <input type="radio" id="trpmethod2" name="transactiontype" value="IMPS" />
                                             IMPS
                                            <input type="radio" id="trpmethod3" name="transactiontype" value="RTGS" />
                                             RTGS
                                            <input type="radio" id="trpmethod4" name="transactiontype" value="UPI" />
                                             UPI
                                         </div>
                                         <div class="form-group">

                                             <label class="form-label">A/C Holder's A/C No. </label>
                                             <input type="text" id="holderacno" name="holderacno" class="form-control" />
                                         </div>

                                     </div>
                                     <div class="form-group">
                                         <label class="form-label">Branch Payable At</label>
                                         <input type="text" id="branchpay" name="branchpay" value="@item.branchpay" class="form-control" />
                                     </div>
                                     <div class="form-group">
                                         <label class="form-label">Amount In Words </label>
                                         <input type="text" name="amountword" class="form-control" id="amountinword" value="@item.amountword" readonly="true" required />
                                     </div>
                                 </div>


                             </div>
                             <div class="card" id="plotdetail">
                                 <div class="card-header">
                                     <div class="card-title">Plot Detail</div>
                                 </div>
                                 <div class="card-body">
                                     <div class="form-group">

                                         <label class="form-label">Plot Description </label>
                                         <textarea name="plotdesp" class="form-control" style="resize: vertical;"></textarea>
                                     </div>



                                     <div class="row" data-id="direction">
                                         <div class="col-md-3">
                                             <input type="radio" name="rnortheast" id="rnortheast" />
                                             <label for="rnortheast">East</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="northeast" value="@item.northeast" class="form-control" disabled="" />
                                         </div>
                                         <div class="col-md-3">
                                             <input type="radio" name="rnortheast" id="rnortheast1" />
                                             <label for="rnortheast1">North-East</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="northeast" value="@item.northeast" class="form-control" disabled="" />
                                         </div>
                                     </div>
                                     <div class="row" data-id="direction">
                                         <div class="col-md-3">
                                             <input type="radio" name="rsoutheast" id="rsoutheast" />
                                             <label for="rsoutheast">West</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="southeast" value="@item.southeast" class="form-control" disabled="" />
                                         </div>
                                         <div class="col-md-3">
                                             <input type="radio" name="rsoutheast" id="rsoutheast1" />
                                             <label for="rsoutheast1">South-East</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="southeast" value="@item.southeast" class="form-control" disabled="" />
                                         </div>
                                     </div>
                                     <div class="row" data-id="direction">
                                         <div class="col-md-3">
                                             <input type="radio" name="rnorthwest" id="rnorthwest" />
                                             <label for="rnorthwest">North</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="northwest" value="@item.northwest" class="form-control" disabled="" />
                                         </div>
                                         <div class="col-md-3">
                                             <input type="radio" name="rnorthwest" id="rnorthwest1" />
                                             <label for="rnorthwest1">North-West</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="northwest" value="@item.northwest" class="form-control" disabled="" />
                                         </div>
                                     </div>
                                     <div class="row" data-id="direction">
                                         <div class="col-md-3">
                                             <input type="radio" name="rsouthwest" id="rsouthwest" />
                                             <label for="rsouthwest">South</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="southwest" value="@item.southwest" class="form-control" disabled="" />
                                         </div>
                                         <div class="col-md-3">
                                             <input type="radio" name="rsouthwest" id="rsouthwest1" />
                                             <label for="rsouthwest1">South-West</label>
                                         </div>
                                         <div class="col-md-3">
                                             <input type="text" name="southwest" value="@item.southwest" class="form-control" disabled="" />
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                                
                      <div class="col-md-6">
                        <div class="card-footer text-right">
                              <button id="submit"  value="Update" type="submit" name="command" class="btn btn-primary" onclick="return confirm('Are you sure to Update @mr.custname?')">Submit</button>

                            </div>
                        </div>
                    
               
                      </div>

                                       }
                                   }

                                   
               </form>
     


        </div>
    </div>





<script type="text/javascript">

    function setexpiry() {
        var term = $("#term").val();
        var formdate = $("#formdate").val();
        if (term > 0) {
            var url = '@Url.Action("setexpiry", "Branch")';
            $.get(url, { formdate: formdate, term: term }, function data(t) {
                debugger;
                for (var i = 0; i < t.length; i++) {

                    var date = new Date(parseInt(t[i].expirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var day = ('0' + date.getDate()).slice(-2);
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var parsedDate = (month) + "/" + (day) + "/" + date.getFullYear();
                    $('#expirydate').val(parsedDate);
                }
            });
        }
    }

    function selectexpiry() {
        debugger;

        var term = $("#term").val();
        var formdate = $("#formdate").val();
        var projectid = $("#PlanName").val();
        var plotsize = $("#nolandunit").val();
        var plccost = $("#plccost").val();
        var Devcharge = $("#Devcharge").val();
        var discountper = $("#discountper").val();

        if (plotsize > 0) {
            var url = '@Url.Action("selectexpiry", "Branch")';
            $.get(url, { projectid: projectid, plotsize: plotsize, term: term, plccost: plccost, Devcharge: Devcharge, discountper: discountper, formdate: formdate }, function data(t) {
                debugger;
                for (var i = 0; i < t.length; i++) {

                    $("#totalcon").val(t[i].totalcon);
                    $("#fullAmount").val(t[i].totalcon);
                    $("#maturityamt").val(t[i].maturityamount);

                    var date = new Date(parseInt(t[i].expirydate.replace("/Date(", "").replace(")/", ""), 10));
                    var day = ('0' + date.getDate()).slice(-2);
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var parsedDate = (month) + "/" + (day) + "/" + date.getFullYear();
                    $('#expirydate').val(parsedDate);

                }

            });

        }
    }
    $(function () {

        $('#lsecondform').click(function () {
            if ($(this).is(':checked')) {
                $('#secondform').slideDown();
            } else {
                if (confirm('Are you sure you want to clear second applicant form..')) {
                    $('#secondform input[type="text"],#secondform select,#secondform input[type="file"]').val('');
                    $('#secondform input[type="radio"]').prop('checked', false);
                    $('#picset img').each(function () {
                        $(this).attr('src', $(this).attr('alt'));
                    });
                    $('#secondform').slideUp();
                } else {
                    return false;
                }
            }
        });

        $('#picset input[type="file"]').change(function () {
            var input = $(this)[0], im = $('#img' + input.id);

            if (input.files && input.files[0]) {
                if (input.files[0].size <= 972800) {
                    $('#sb').removeAttr('disabled');
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        im
                        .attr('src', e.target.result)
                            .animate({ height: 100 });
                    };

                    reader.readAsDataURL(input.files[0]);
                } else {
                    im.attr('src', im.attr('alt')).height(90);
                    $(input).val('');
                    $('#sb').attr('disabled', '');
                    alert('Please select file less than or equal to 950KB');
                }
            } else {
                im.attr('src', im.attr('alt')).animate({ height: 90 });
            }
        });

        $('[data-id="direction"] input[type="radio"]').click(function () {
            debugger;
            var c = $(this), id = c.attr('id'), tid = '[name="' + id.replace('r', '').replace('1', '') + '"]';
            if (c.is(':checked')) {
                if (id.indexOf('1') > -1) {
                    $($(tid)[1]).removeAttr('disabled');
                    $($(tid)[0]).attr('disabled', '').val('');
                } else {
                    $($(tid)[0]).removeAttr('disabled');
                    $($(tid)[1]).attr('disabled', '').val('');
                }
            } else {
                if (id.indexOf('1') > -1) {
                    $($(tid)[0]).removeAttr('disabled');
                    $($(tid)[1]).attr('disabled', '').val('');
                } else {
                    $($(tid)[1]).removeAttr('disabled');
                    $($(tid)[0]).attr('disabled', '').val('');
                }
            }

        });
        //form submission
        $('#_submit').submit(function (event) {
            //debugger;
            $("#totalcon").removeAttr('disabled').attr('readonly', '');
            $('[name="plccost"]').change();
            $('#loading').modal('show');
            $('[data-id="direction"] label[for]').each(function () {
                var c = $(this), f = c.attr('for'), s = '[name="' + f.replace('r', '').replace('1', '') + '"]';

                if (f.indexOf('1') > -1) {
                    var t = $($(s)[1]), v = t.val();
                    t.val(c.text() + '              ' + v);
                } else {
                    var t = $($(s)[0]), v = t.val();
                    t.val(c.text() + '              ' + v);
                }

            });
            var ptype = $('#paymenttype').val();
            if (ptype == 'FULL') {
                $('#_submit').append('<input type="hidden" id="bookingamountd" name="bookingamount" value="' + $('#totalcon').val() + '" />');
            } else {
                $('#bookingamountd').remove();
            }
        });

        ////corner cost
        //$('#plccost').on('click', function () {
        //    var fv1 = $('#fullAmount').val(), plc1 = $('#plccost').val(), discountper1 = $('#discountper1').val();
        //    fv1 = parseFloat(fv1); discountper1 = parseFloat(discountper1); plc1 = parseFloat(plc1);
        //    var tv1 = fv1 - (fv1 * (discountper1 / 100)) + (fv1 * (plc1 / 100));
        //    $('#totalcon').val(tv1);
        //});


        $('#propertypreference').on('click', function () {
            debugger;
            var m = $('#propertypreference').val();
            if (m != 'Normal') {
                $('#plccost').removeAttr('readonly');
            } else {
                $('#plccost').val(0).attr('readonly', '');
            }
            selecttotolplot();
        });


        //plot cost
        $('#nolandunit').on('click', selectexpiry);

        //set paymenttype
        $('#paymenttype').on('click change', function () {
            //debugger;
            var c = $(this), v = c.val();
            if (v != 'EMI') {
                var paymentType = $('#paymenttype').val();
                $("#mode option[value='" + paymentType + "'").remove();
                $("#mode option:not(:first)").hide();
                $("#mode").append('<option value="' + paymentType + '">' + paymentType + '</option>');
                //$("#nomineeDiv,#paymentDiv,#expirydateDiv").slideUp();

                if (paymentType == 'FULL') {
                    $('#fullAmount').slideDown().val(0);
                    $('#bookingamount').slideUp().val(0);
                    $('#bookingamountDiv label.form-label').text('Full Amount(Rs.)');
                    //$('#termDiv').slideDown();
                    $("#expirydateDiv").slideDown();
                } else {
                    $('#bookingamount').slideDown().val(0);
                    $('#bookingamountDiv label.form-label').text('Booking Amount(Rs.)');
                    $('#fullAmount').slideUp().val(0);
                    //$('#termDiv').slideUp();
                    $("#expirydateDiv").slideUp();
                    $('#expirydate').val($('#formdate').val());
                }

            } else {
                $("#mode option:nth-child(3)").remove();
                //$("#nomineeDiv,#termDiv,#paymentDiv,#expirydateDiv").slideDown();
                $("#mode option").show();
                $('#bookingamountDiv label.form-label').text('Booking Amount(Rs.)');
                $('#fullAmount').slideUp().val(0);
                $('#bookingamount').slideDown().val(0);
                $('#term').attr('required', '');
                $('#expirydate').val('');
            }
        });

        function gs(name) { return '[name="' + name + '"]'; }
        //second applicant form address event
        $('#sameasabove').click(function () {
            var sa = $('#sameasabove');
            if (sa.is(':checked')) {
                $(gs('spermanentaddress')).val($(gs('scorraddress')).val());
                $(gs('pcity')).val($(gs('scity')).val());
                $(gs('pstate')).val($(gs('sstate')).val());
                $(gs('ppincode')).val($(gs('spincode')).val());
            } else {
                $(gs('spermanentaddress')).val('');
                $(gs('pcity')).val('');
                $(gs('pstate')).val('');
                $(gs('ppincode')).val('');
            }

        });
    });
</script>

