@model IEnumerable<SPARSHBUILDCON.Models.AgentDetail>
@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
     var pr = db.Operators.Single(o => o.OperatorId == User.Identity.Name);
     var br = db.Branchtabs.Single(o => o.BranchCode == pr.BranchCode);
    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "Broker";
    var a = 0;
    
}
<div class="my-3 my-md-5">
					<div class="container"  id="divid1">
						<div class="page-header" id="2">
							<h4 class="page-title">@mr.agentname List</h4>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">@mr.agentname List</div>
								</div>
								<div class="card-body">
                                	<div class="table-responsive">
									<table   id="1"  class="table table-striped table-bordered" style="width:100%">
 @using (Html.BeginForm())
                {
                    foreach (var item in Model)
                    {
                        if (a == 0)
                        {
                            <tr><th colspan="3" >@mr.branchname Name:@br.BranchName</th>
                                <th colspan="3" ><b>@mr.agentname List</b></th>
                                <th colspan="3" ><b> @Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy")</b></th>
                            </tr>
    <tr>
        <th style="width:5%;text-align:center;">
           <label id="sn"><b>S.N.</b></label>
            </th>
        <th style="width:20%;text-align:center;">
           <label id="newid"><b>@mr.agentname Id</b></label>
            </th>
        <th style="width:20%;text-align:center;">
           <label id="spilid"><b>@mr.agentname Name</b></label>
        </th>
              <th style="width:10%;text-align:center;">
        <label id="email"><b>@mr.rankname </b></label>
        </th>
         <th style="width:20%;text-align:center;">
           <label id="introducerid"><b>Introducer Id</b></label>
        </th>
            
      @*  <th style="width:15%;text-align:center;">
           <label id="position"><b>Mobile</b></label>
        </th>*@
             
         <th style="width:10%;text-align:center;">
           <label id="doj"><b>Date of Joining</b></label>
        </th>

         <th style="width:10%;text-align:center;">
           <label><b>Action</b></label>
        </th>
      
    </tr>
    }
                        a = a + 1;

    
    <tr style="text-align:left;">
        <td>
            @a
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewAgentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
     
         <td>
            @Html.DisplayFor(modelItem => item.RankName)
        </td>
    
       <td>
            @Html.DisplayFor(modelItem => item.NewIntroducerId)
        </td>
        
          @*  <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>*@
         <td>
             @Convert.ToDateTime(item.Doj).ToString("dd/MM/yyyy")
        </td>
         <td>
            @Html.ActionLink("View Detail", "Broker", new { brokerid = item.NewAgentId }, new { target = "_blank" });
        </td>
             
    </tr>
                   
    }

    }
    
    
   
</table>
             @if (a > 0)
             {
                 <a href="@Url.Action("PrintBrokerList")" target="_blank">Get Report In PDF</a>
             }
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
    </div>




































