@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var br = db.Operators.Single(b => b.OperatorId == User.Identity.Name);
    var mr = db.Members.Single(m => m.Id == 1);
 
    var plan1 = db.Plans.Single(p1 => p1.Plancode == 1);
    var plan2 = db.Plans.Single(p2 => p2.Plancode == 2);
    var plan3 = db.Plans.Single(p3 => p3.Plancode == 3);
    var plan4 = db.Plans.Single(p4 => p4.Plancode == 4);
    
    var f1 = db.VFormatTabs.Single(f => f.Id == 1);
    var f2 = db.VFormatTabs.Single(f => f.Id == 2);
    var f3 = db.VFormatTabs.Single(f => f.Id == 3);

    Layout = "~/Views/Shared/_OperatorLayout.cshtml";
    ViewBag.Title = "Officialmenu";
}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Welcome @br.OperatorId</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Official Reports</a></li>

            </ol>

        </div>
           <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">Welcome @br.OperatorId</h3>
                </div>
                <div class="card-body">
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-info card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/Customer" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">@mr.custname List
											
                                            <img alt="" src="~/Images/icon/7.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-primary  card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/DatewiseCustomer" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Datewise @mr.agentname List
											
                                            <img alt="" src="~/Images/icon/63.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-warning    card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/MemberWiseAccountDetail" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">All Member List

											
                                            <img alt="" src="~/Images/icon/MemberIcon.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-success   card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/RankList" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">@mr.rankname List

											
                                            <img alt="" src="~/Images/icon/28.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-warning  card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/CustumerInstallmentReport" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">@mr.custname Ledger-Details
											
                                            <img alt="" src="~/Images/icon/73.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-primary  card-img-holder text-white">
                    <div class="card-body">
                        <a href="~/Operator/DailyExpense" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Daily Expense Details
											
                                            <img alt="" src="~/Images/icon/76.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-success   card-img-holder text-white">
                    <div class="card-body">
                        <a href="~/Operator/RPStatementReport" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">RP Statement Report

											
                                            <img alt="" src="~/Images/icon/11.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-info   card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/CompleteDailyCollection" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Datewise Collection Details

											
                                            <img alt="" src="~/Images/icon/11.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-info card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/DailyCollectionReport" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Daily Collection
											
                                            <img alt="" src="~/Images/icon/11.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-warning   card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/DateWiseChequeCollection" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Datewise Cheque Collection
											
                                            <img alt="" src="~/Images/icon/cheq.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-primary   card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/DateWiseCollection" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Datewise Business

											
                                            <img alt="" src="~/Images/icon/74.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-success   card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/CsswiseCollection" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Css Wise Business

											
                                            <img alt="" src="~/Images/icon/74.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-primary card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/FundMobilisation" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Fund Mobilisation
											
                                            <img alt="" src="~/Images/icon/5.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
        
        <div class="col-sm-12 col-lg-3">
                <div class="card bg-success card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/MaturityPaidDetails" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Maturity Paid Details
											
                                            <img alt="" src="~/Images/icon/27.png" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card bg-info card-img-holder text-white">
                    <div class="card-body" style="height:130px">
                        <a href="~/Operator/Advancepaymentreport" style="color: white">
                            <img src="~/Content/Admin/assets/images/circle.svg" class="card-img-absolute" alt="circle-image">
                            <h4 class="font-weight-normal  mb-3">Advance Payment Report
											
                                            <img alt="" src="~/Images/icon/advancepay.jpg" class=" fs-30 float-right" />
                            </h4>
                        </a>

                    </div>
                </div>
            </div>
    </div>
</div>


</div>

   </div>
</div>


</div>




















          
						
			