@model SPARSHBUILDCON.Models.AgentDetail
@using SPARSHBUILDCON.Models;
@{
    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var tr = db.TDSLF_tabs.Single(f => f.Id == 1);
    Layout = "~/Views/Shared/_member_new_layout.cshtml";
    ViewBag.Title = "CreateBroker";
    var a = 0;
    var br = db.AgentDetails.Single(b => b.NewAgentId == User.Identity.Name);
    var ranklist = db.Ranktabs.Where(d => d.RankCode <= 6).ToList();
    DateTime dt = DateTime.Now.Date;
    Formdate fd = new Formdate();
    var count = db.Formdates.Where(o => o.opid == User.Identity.Name).Count();
    if (count > 0)
    {
        fd = db.Formdates.Single(o => o.opid == User.Identity.Name);
        if (fd.status == 2)
        {
            dt = fd.formdate;
        }

    }
    
}

<style>
    .datepick-month-year {
        width: 50%;
        float: left;
    }
</style>

<script>
    $(document).ready(function () {
        {
            $('#Doj,#Age').datepick({ dateFormat: 'mm/dd/yyyy', changeYear: true, changeMonth: true });
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#memberid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Operator/AutoCompletememberid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.MemberName, value: item.NewMemberId };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $("#State").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteState",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.state, value: item.state };


                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

<script>
    function checkdistrict(check_id) {

        $("#" + check_id).mouseout(function () {

            var state = $("#State").val();
            var url = '@Url.Action("selectdistrict", "Branch")';
            var select = $("#district");
            $.get(url, { state: state }, function data(d) {

                select.children().remove();
                select.append('<option value="Select">Select</option>');
                for (var i = 0; i < d.length; i++) {
                    select.append('<option value="' + d[i].city + '">' + d[i].city + '</option>');
                }

            });
        });

    }
</script>

<script>
    function check(check_id) {

        $("#" + check_id).mouseover(function () {
            var intro = $("#" + check_id).val();
            var url = '@Url.Action("SelectIntroName", "Branch")';
            $.get(url, { intro: intro }, function data(name1) {
                $('#IntroName').val(name1)
            });
        });

    }
</script>

<script>
    function checkintrank(check_id) {
        $("#" + check_id).mouseout(function () {
            var rank = $("#" + check_id).val();
            var intcode = $("#NewIntroducerId").val();
            var url = '@Url.Action("checkintrank", "Branch")';
            $.get(url, { intcode: intcode, rank: rank }, function data(d) {
                for (var i = 0; i < d.length; i++) {
                    if (d[i].type == 0) {
                        $("#msg").text(d[i].msg)
                    }
                    else if (d[i].type == 1) {
                        $("#msg").text('')
                    }
                }


            });
        });

    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#NewIntroducerId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteAgentId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };


                        }))

                    }
                })
            }
        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#spilid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Branch/AutoCompleteAgentId",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };


                        }))

                    }
                })
            }
        });
    })
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#Rank").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Operator/AutoCompleteRank",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.RankName, value: item.RankCode };


                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#nomrel").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteRelations",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.relations, value: item.relations };


                        }));

                    }
                });
            }
        });


    })
</script>

<script>
    $(document).ready(function () {
        $('#chk').change(function () {
            var adr = $("#Address").val();
            if (this.checked == true) {
                $("#NomineeAddress").val(adr);
            }
            else if (this.checked == false) {
                $("#NomineeAddress").val('');
            }
        });
    });
</script>
<style>
    #rowDiv .widget-title {
        color:white;
        font-size:15px;
        font:bold;
        margin-top:5px;
        margin-left:5px;
    }
    .control-group select, input {
        width: 250px !important;
    }
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid" style="margin-left:17%;">
            <div class="span12">
                <h3 class="page-title">@mr.agentname Form
                </h3>
                <i style="font-weight: 800; color: green; text-align: center;"> @ViewData["msg"] </i>
                
            </div>
        </div>
         <div class="row-fluid">
             <div class="span12">
                <div class="widget">
        <form method="post" enctype="multipart/form-data">
              <div class="widget-body form">
                            <div class="form-horizontal">
            <div class="row" id="rowDiv" style="margin-left:17%;">
               <div class="col-md-8 span5" style="float:left;">
                
                        <div class="card-header">
                            <div class="widget-title">Personal Details</div>
                        </div>
                       <br />

                            <div class="control-group">
                                <label class="control-label">@mr.branchname Code </label>
                                <input type="text"  id="BranchCode" name="BranchCode" value="@br.BranchCode" readonly="true"/>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Form Fee</label>
                                <input type="text"  id="formfee" required name="formfee" value="@tr.agencyformfee" readonly="true"/>
                            </div>

                            @* <div class="control-group">
                                            <label class="control-label">Member Id </label>
                                           <input type="text"  id="newmemberid"  name="newmemberid" required />
                                        </div>*@

                            <div class="control-group">
                                <label class="control-label">Name</label>
                                <input type="text"  id="name" required name="name" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Father/Husband's Name</label>
                                <input type="text"  required name="Father" id="Father" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Mother's Name</label>
                                <input type="text"  id="Mother" name="Mother" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Mobile No</label>
                                <input type='tel' maxlength="10" name="Mobile" id="Mobile" required  />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Emergency No</label>
                                <input type='tel' title="Invalid mobile format" pattern="[789][0-9]{9}" maxlength="10" name="Mobileno" id="Mobileno" required  />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Introducer Code</label>
                                <input type="text"  value="@br.NewAgentId" required onmouseover="check(this.id)" id="NewIntroducerId" name="NewIntroducerId" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Introducer Name</label>
                                <input type="text"  readonly="true" value="@br.name" required id="IntroName" name="IntroName" />
                            </div>
                            @* <div class="control-group">
                                            <label class="control-label">Spil Code</label>
                                            <input type="text"  required id="spilid" name="spilid" />
                                        </div>*@
                            <div class="control-group">
                                <label class="control-label">Position</label>
                                <select name="position" >
                                    <option value="1">LEFT</option>
                                    <option value="2">RIGHT</option>
                                </select>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Nationality</label>
                                <input type="text"  id="Nationality" name="Nationality" readonly="readonly" value="Indian" />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Date Of Joining</label>
                                <input type="text" name="Doj" id="Doj" value="@dt" readonly="true" required />
                            </div>

                            <div class="control-group">
                                <label class="control-label">DOB/Age</label>
                                <input type="text" id="Age" name="Age" required >
                            </div>

                            <div class="control-group">
                                    <label class="control-label">Gender</label>
                                    <select name="Gender" id="Gender"  required>
                                        <option selected>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                           
                            <label id="msg"></label>



                            <div class="control-group">
                                <label class="control-label">Select Blood Group</label>
                                <select name="BloodGroup" id="BloodGroup" >
                                    <option selected>Select</option>
                                    <option>O +ive</option>
                                    <option>O -ive</option>
                                    <option>A +ive</option>
                                    <option>A -ive</option>
                                    <option>B +ive</option>
                                    <option>B -ive</option>
                                    <option>AB +ive</option>
                                    <option>AB -ive</option>
                                </select>

                            </div>


                            <div class="control-group">
                                <label class="control-label">Occupation</label>
                                <input type="text" id="Occupation" name="Occupation"  />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Select Qualification</label>
                                <select name="Qualification" id="Qualification" >
                                    <option selected>Select</option>
                                    <option>High School</option>
                                    <option>Intermediate</option>
                                    <option>Graduation</option>
                                    <option>Post Graduation</option>

                                </select>

                            </div>
                   
                 
                        <div class="card-header">
                            <div class="widget-title">Bank & Other Details</div>
                        </div>
                        <br />
                            <div class="control-group">
                                <label class="control-label">PAN Number</label>
                                <input type="text" id="Panno" name="Panno"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Passport Number</label>
                                <input type="text" id="Passportno" name="Passportno"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Driving Licence No.</label>
                                <input type="text" id="Drivinglno" name="Drivinglno"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">I-Card Number</label>
                                <input type="text" id="Icardno" name="Icardno"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Bank Name</label>
                                <input type="text" name="BankName" id="BankName"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Bank Code</label>
                                <input type="text" id="BankCode" name="BankCode"  />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Account No.</label>
                                <input type="number" id="BankAccountno" name="BankAccountno"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">IFSC Code</label>
                                <input type="text" id="IFCCode" name="IFCCode"  />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Bank Address</label>
                                <input type="text" id="BankAddress" name="BankAddress"  />
                            </div>
                        </div>
                  
              
                 <div class="col-md-8 span5" style="float:left;margin-left:100px;">
                        <div class="card-header">
                            <div class="widget-title">Address Details</div>
                        </div>
                       <br />
                            <div class="control-group">
                                <label class="control-label">Address</label>
                                <input type="text" id="Address" name="Address" required  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">State</label>
                                <input type="text" id="State" name="State" onmouseout="checkdistrict(this.id)"  />

                            </div>

                            <div class="control-group">
                                <label class="control-label">
                                    District</label>
                                <select  id="district" name="District">
                                    <option disabled="disabled">Select </option>
                                </select>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Pin Code</label>
                                <input type="number" name="PinCode"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Land Line No</label>
                                <input type="number" id="Landlineno" name="Landlineno"  />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Email</label>
                                <input type="email" id="Email" name="Email"  />
                            </div>
                       
                   
                        <div class="card-header">
                            <div class="widget-title">Nominee Details</div>
                        </div>
                         <br />
                            <div class="control-group">
                                <label class="control-label">Nominee Name</label>
                                <input type="text" id="NomineeName" name="NomineeName" required  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Nominee Age</label>
                                <input type="text" id="NomineeAge" name="NomineeAge" required  />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Relationship</label>
                                <input type="text" id="nomrel" name="Relationship" required  />
                            </div>

                             <div class="control-group">

                                <input id="chk" type="checkbox" name="chk" />&nbsp;Same As @mr.agentname
                            </div>
                            <div class="control-group">
                                <label class="control-label">Address</label>
                                <input type="text" id="NomineeAddress" name="NomineeAddress" required  />
                            </div>

                       
                  
                        <div class="card-header">
                            <div class="widget-title">Experience Details</div>
                        </div>
                        <br />
                            <div class="control-group">
                                <label class="control-label">Name of Organization</label>
                                <input type="text" id="Organization" name="Organization"  />
                            </div>

                            <div class="control-group">
                                <label class="control-label">Area of Occupation</label>
                                <input type="text" id="areaofoccupation"  name="areaofoccupation" />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Approximate No.</label>
                                <input type="number"  id="approximatenoofactive" name="approximatenoofactive" />
                            </div>

                       
                   
                        <div class="card-header">
                            <div class="widget-title">Performance Details</div>
                        </div>
                         <br />
                            <div class="control-group">
                                <input type="radio" name="Experience" value="Fresher" />
                                Fresher
                                            <input type="radio" name="Experience" value="Experienced" />
                                Experienced
                            </div>
                            <div class="control-group">
                                <label class="control-label">Company Name</label>
                                <input type="text" id="Company" name="Company"  />
                            </div>



                            <div class="control-group">
                                <label class="control-label">Total Exp.(Yr.)</label>
                                <input type="number" id="Yoe" name="Yoe"  />
                            </div>


                            <div class="control-group">
                                <label class="control-label">Company Address</label>
                                <input type="text" id="cmpnyaddress" name="cmpnyaddress"  />
                            </div>

                        <div class="card-header">
                            <div class="widget-title">Upload Photo</div>
                        </div>
                      <br />
                        <div class="col-md-4">

                            <div class="control-group">
                                <input type="file" id="Photo" name="Photo"  />
                            </div>
                        </div>
                     </div>                   
            </div>
            <div class="card-footer text-right card">
                <div class="d-flex">
                    <button  value="Submit" type="submit" name="command" class="btn btn-primary" onclick="return confirm('Are you sure to create @mr.agentname?')">Submit</button>                    
                </div>
            </div>
                                </div>
                  </div>
        </form>
                    </div>
                 </div>
        </div>
    </div>
</div>