@using SPARSHBUILDCON.Models;
@{
    ViewBag.Title = "WelcomeNote";
    Layout = "~/Views/Shared/_member_new_layout.cshtml";
    UsersContext db = new UsersContext();
    var comp = db.CompanyInfos.Single(a => a.Id == 1);
    var cust = db.AgentDetails.Single(a => a.NewAgentId == User.Identity.Name);
    var intro = db.AgentDetails.Single(a => a.NewAgentId == cust.spilid);
}



<div id="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">Welcome Letter
                </h3>
                <i style="font-weight: 800; color: green; text-align: center;">@ViewData["msg"] </i>
                <ul class="breadcrumb">
                    <li><a href="~/Member/Dashboard"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>

                    </li>
                    <li><a href="#">@comp.CompanyName</a><span class="divider">&nbsp;</span> </li>
                    <li><a href="#">Welcome Letter</a><span class="divider-last">&nbsp;</span></li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>
                            <i class="icon-reorder"></i>Welcome Letter</h4>
                        <span id="ctl00_ContentPlaceHolder1_Label2" class="control-label"></span>
                    </div>
                    <div class="widget-body form">
                        <div class="form-horizontal">

                            <div id="ctl00_ContentPlaceHolder1_pnlmain">


                                <div class="control-group">


                                    <div class="spna12">
                                        <p style="text-align: justify; color: black;">
                                            <b>Dear Mr./Miss. @cust.name
                                        </p>
                                        </b>
                <center><h5  style="color:#16670a;"><b>Welcome to @comp.CompanyName</b></h5></center>
                                        <p style="text-align: justify; padding: 20px;">It gives us immense pleasure to welcome you to the @comp.CompanyName family. Given below are the User Id along with other details for accessing your account and any related information at official website . We suggest you to change your password immediately and if any problem relating to login occurs, please mail your query at Website.</p>
                                    </div>

                                    <center><h4 style="color:black;"><b>Details of your Registration</b></h4></center>

                                    <div class="row">

                                        <div class="span3"></div>
                                        <div class="span6 well">
                                            <table border="0" class="table table-stepped">
                                                <tr>
                                                    <td>Associate Id</td>
                                                    <td>@cust.NewAgentId</td>
                                                </tr>
                                                <tr>
                                                    <td>Associate Name</td>
                                                    <td>@cust.name</td>
                                                </tr>
                                                <tr>
                                                    <td>Sponsored by</td>
                                                    <td>@cust.spilid</td>
                                                </tr>

                                                <tr>
                                                    <td>Sponsored Name</td>
                                                    <td>@intro.name</td>
                                                </tr>

                                                <tr>
                                                    <td>Registration Date</td>
                                                    <td>@cust.Doj.ToString("dd - MMM - yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td>Activation Date</td>
                                                    <td>@cust.activationdate.ToString("dd - MMM - yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td>Package Amount</td>
                                                    @if (cust.formfee != 0)
                                                    {
                                                        <td>@cust.formfee</td>
                                }
                                                    else
                                                    {
                                                        <td>@cust.formfee</td>
                                }
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    @if (cust.Status != 0)
                                                    {
                                                        <td style="color: #16670a;">Green</td>
                                }
                                                    else
                                                    {
                                                        <td style="color: #f00;">Red</td>
                                }
                                                </tr>
                                                <tr>
                                                    <td>Father's Name</td>
                                                    <td>@cust.Father</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <center><h5>(This is system generated Welcome Letter and does not need any signature)</h5></center>

                                </div>




                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>