@model IEnumerable<SPARSHBUILDCON.Models.SelfdueCollection>
@using SPARSHBUILDCON.Models;
@{
    Layout = "~/Views/Shared/_BranchLayout.cshtml";
    ViewBag.Title = "BrokerSelfDueCollection";

    UsersContext db = new UsersContext();
    var mr = db.Members.Single(m => m.Id == 1);
    var a = 0;
    var br = db.Branchtabs.Single(o => o.BranchCode == User.Identity.Name);
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#newagentid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/AutoCompleteAgentid",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.name, value: item.NewAgentId };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>  
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">@mr.agentname Self Due Collection</a></li>

            </ol>

        </div>
        <div class="row">
            <div class="col-12 card">

                <div class="card-header">
                    <h3 class="card-title">@mr.agentname Self Due Collection</h3>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            
                            <div class="col-md-12 col-lg-12">
                                	<div class="form-group">
													<label class="form-label">Enter @mr.agentname Id</label>
													<div class="input-group">
														   <input type="text" id="newagentid" class="form-control" required name="newagentid">
														<span class="input-group-append">
														 <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
														</span>
													</div>
												</div>

                                </div>
                                 

                            </div>

                   
            
                    }
                </div>

                	<div class="card-body">
                                	<div class="table-responsive">
									<table  class="table table-striped table-bordered" style="width:100%">
			      @foreach (var item in Model)
         {
             if (a == 0)
             {
                        <tr style="text-align: center;">
                            <th colspan="3">@mr.branchname Name:@item.branchname</th>

                            <th colspan="3"><b>@mr.agentname Self Due Collection</b></th>
                            <th colspan="4"><b>Dated:@Convert.ToDateTime(DateTime.Now.Date).ToString("dd/MM/yyyy") </b></th>
                        </tr>
                        <tr style="text-align: center;">
                            <th colspan="5">@mr.agentname Id:@item.newagentid</th>
                            <th colspan="5">@mr.agentname Name:@item.name</th>

                        </tr>
                            
                        <tr>
                            <th style="width: 5%; text-align: center;">
                                <label><b>S.N.</b></label>
                            </th>
                            <th style="width: 10%; text-align: center;">
                                <label><b>@mr.custname Id</b></label>
                            </th>

                            <th style="width: 10%; text-align: center;">
                                <label><b>@mr.custname Name</b></label>
                            </th>
                             <th style="width: 10%; text-align: center;">
                                <label><b>Mobile No</b></label>
                            </th>
                            <th style="width: 10%; text-align: center;">
                                <label><b>Expiry Date</b></label>
                            </th>

                            <th style="width: 10%; text-align: center;">
                                <label><b>@mr.planname Name</b></label>
                            </th>

                            <th style="width: 5%; text-align: center;">
                                <label><b>Term </b></label>
                            </th>
                            <th style="width: 7%; text-align: center;">
                                <label id="email"><b>Mode</b></label>
                            </th>

                            <th style="width: 10%; text-align: center;">
                                <label><b>Amount</b></label>
                            </th>

                            <th style="width: 10%; text-align: center;">
                                <label><b>Installment No.</b></label>
                            </th>




                        </tr>
             }
             a = a + 1;


                        <tr style="text-align: center;">
                            <td>
                                @a
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.newbondid)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.cname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mobileno)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.expirydate).ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.planname)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.term)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.installmentno)
                            </td>




                        </tr>
                   
         }


                </table>

                @if (a > 0)
                {
                    <a href="@Url.Action("PrintBrokerSelfDueReport")" target="_blank">Get Report In PDF</a>
                }

                                        </div>
                        </div>
            </div>

        </div>
    </div>
</div>
























 
   
                    

                   







